langchain
langchain-openai
langchain-groq
faiss-cpu
tiktoken
chromadb
langchain-chroma
langchain-core
langchain-community
pypdf
python-dotenv
sentence-transformers
langchain-huggingface
ipykernel
pymupdf
unstructured
pdfminer
python-docx
docx2txt
openpyxl
jq
